html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.1rem;
}

a {
  color: #2f4454;
  text-decoration: none;
}

main{
  text-align : center;
  font-size: 14px;
}

.main-content {
  display: grid;
}

button {
  border: 1px solid black !important;
  padding: 5px 25px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.flex-chips {
  line-height: 2.5;
  margin: 0.5;
}

.flex-chips .MuiChip-root {
  margin-right: 0.5em;
}

.flex-chips .MuiChip-outlined {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-section {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 5%;
}

.about-section .content {
  text-align: left;
  width: 50%;
}

.about-section .image-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-section .image-wrapper img{
  width: 100%;
}

.about p {
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

@media screen {
  @media (max-width: 567px) {
    .nav-left{
      padding-top: 20px;
      float:left;
    }

    .nav-left img {
      height: 35px
    }

    .nav-right {
      float:right;
    }

    .nav-right li {
      padding: 10px 15px;
      list-style:none;
      font-size:13px;
      color:white;
      width: 10%;
    }

    .nav-right ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    body {
      width: 100%;
    }

    .about {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 12px;
    }

    .skills {
      font-size: 12px;
    }
  }

  @media (max-width:700px) {
    .about-section .image-wrapper img {
      width: 80%;
    }

    .about-section h1 {
      text-align: left;
    }

    .about-section p {
      text-align: left;
    }

    .container {
        display: initial;
    }

    .about-section {
      display: initial;
    }

    .about-section .content {
      text-align: center;
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
    }

    .about-section .image-wrapper {
      width: 100%;
    }
  }
}