.header{
  height:40px;
  border-radius: 5px;
  background-color:#444444;
}

.header-left{
  float:left;
  padding:8px 15px 20px;
  color:white;
  font-size:20px;
  font-family: "Phosphate",Phosphate;
}

.header-right li{
  float:right;
  padding:12px 30px;
  list-style:none;
  font-size:15px;
  color:white;
}

.main{
  width:1200px;
  float:right;
  height:620px;
  text-align : center;
  font-family: "Papyrus",Papyrus;
  font-size:25px;

}

.sidebar-right{
  width:600px;
  float:left;
  height:620px;
}

.sidebar-left{
  width:600px;
  float:left;
  height:620px;
  font-family: "mincho",mincho;
  font-size:15px;
  vertical-align: middle;
}

.footer{
  clear:both;
  float:none;
  text-align : right;
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
.square_btn:hover {
    background: #F2F2F2;
}

a {text-decoration:none}
a {color: white}
a:hover { color: #D8D8D8; }
