html {
  padding: 0px;
}
body {
  margin: 0px;
}
.header{
  border-radius: 5px;
  background-color:#444444;
}


.header, .header-left, .header-right {
  height: 40px;
}

.header-left{
  float:left;
  padding: 0px 30px;
  color:white;
  font-size:20px;
  font-family: "Phosphate",Phosphate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  float:right;
}

.header-right li{
  padding:12px 20px;
  list-style:none;
  font-size:15px;
  color:white;
}

.header-right ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.main{
  /* float:right; */
  height:760px;
  text-align : center;
  font-family: "Papyrus",Papyrus;
  font-size:25px;
}

.contents{
  text-align : center;
  font-family: "Mincho",Mincho;
  font-size:15px;
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
.square_btn:hover {
    background: #F2F2F2;
}

.footer{
  clear:both;
  float:none;
  text-align : right;
}

a {text-decoration:none}
a {color: white}
a:hover { color: #D8D8D8; }

@media screen and (max-width: 600px) {
  .header-left,.header-right {
    float: none;
  }
  .header {
    height: 80px;
  }
 }
