html {
  padding: 0px;
}
body {
  margin: 0px;
}
.header{
  border-radius: 5px;
  background-color:#444444;
}


.header, .header-left, .header-right {
  height: 40px;
}

.header-left{
  float:left;
  padding: 0px 30px;
  color:white;
  font-size:20px;
  font-family: "Phosphate",Phosphate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  float:right;
}

.header-right li{
  padding:12px 20px;
  list-style:none;
  font-size:15px;
  color:white;
}

.header-right ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.main{
  /* float:right; */
  height:620px;
  font-size:15px;

}

.contents{
  height:500px;
  text-align : center;
}

.footer{
  clear:both;
  float:none;
  text-align : right;
}

a {text-decoration:none}
a {color: white}
a:hover { color: #D8D8D8; }

@media screen and (max-width: 600px) {
  .header-left,.header-right {
    float: none;
  }
  .header {
    height: 80px;
  }
 }


#honbun{
    font-size: 1.2em;
    line-height: 1.8em;
    height: 28em;
    overflow: auto;
    margin: 30px 2%;
    width: 86%;
    padding: 30px 0;
    float: left;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /writing-mode: tb-rl;
    _writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;            /* IE用      */
    -moz-writing-mode: vertical-rl;     /* firefox用 */
    -webkit-writing-mode: vertical-rl;  /* chrome用  */
    -o-writing-mode: vertical-rl;       /* opera用   */
}
.gothic{font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'Meiryo UI', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', sans-serif;}
.mincho{font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'HGS明朝E', 'HG明朝E', 'ＭＳ 明朝', 'MS Mincho', serif;}

#honbun_prev, #honbun_next{
    margin-top: 20em;
    width: 5%;
    height: 50px;
    text-align: center;
    border: 0;
    float: left;
    opacity: 0.5;
    background-color: #fff;
}
#honbun_prev:hover, #honbun_next:hover{opacity: 1; cursor: pointer;}
.opacity03{opacity: 0.3;}


a {text-decoration:none}
a {color: white}
a:hover { color: #D8D8D8; }
