body {
  margin: 0px;
}

.nav-bar {
  height: 55px;
}

.nav-left{
  float:left;
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
}

.nav-right {
  float:right;
}

.nav-right li{
  padding:12px 20px;
  list-style:none;
  font-size:16px;
  color:white;
}

.nav-right ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-family: Verdana, sans-serif;
}

a {
  color: #2f4454;
  text-decoration: none;
}

main{
  text-align : center;
  font-size: 14px;
}

.main-content {
  display: grid;
  font-family: Verdana, sans-serif;
}

.introduction {
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 30px;
  letter-spacing: 0.3em;
  padding-left: 15%;
  padding-right: 15%;
}

.about {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #2f4454;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 15px;
  color: #f9fbfd;
}

.skills {
  padding-top: 5%;
  padding-bottom: 5%;
  /*background-color: #676767;*/
  background-color: #eae7dc;
  font-size: 15px;
}

.skills ul li {
  display: inline-block;
  list-style:none;
  padding: 10px;
}

.experience {
  display: grid;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #92828f;
  padding-left: 15%;
  padding-right: 15%;
}
