html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

.nav-bar {
  height: 90px;
}

.nav-left{
  float:left;
  padding-left: 20px;
}

.nav-right {
  float:right;
  padding-top: 20px;
  padding-right: 20px;
}

.nav-right li{
  padding:12px 20px;
  list-style:none;
  font-size:16px;
  color:white;
}

.nav-right ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-family: Verdana, sans-serif;
}

a {
  color: #2f4454;
  text-decoration: none;
}

main{
  text-align : center;
  font-size: 14px;
}

.main-content {
  display: grid;
  font-family: Verdana, sans-serif;
}

.introduction {
  color: #f9fbfd;
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 30px;
  letter-spacing: 0.3em;
  padding-left: 15%;
  padding-right: 15%;
  background:linear-gradient(0deg, rgba(73, 73, 73, 0.6), rgba(73, 73, 73, 0.6)), url(pexels-jakub-novacek-924824.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #2f4454;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 17px;
  color: #f9fbfd;
}

.skills {
  padding-top: 3%;
  padding-bottom: 5%;
  /*background-color: #676767;*/
  background-color: #eae7dc;
  font-size: 17px;
}

.boxes {
  padding-top: 3%;
}

.box-1 { grid-area: left; }
.box-2 { grid-area: middle; }
.box-3 { grid-area: right; }

.boxes {
  display: grid;
  grid-template-areas: 'left middle right';
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.box-1, .box-2, .box-3 {
  background-color: #fff;
  border: 1px solid #eae7dc;
}

.box-1 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.box-3 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.box-1, .box-2, .box-3 {
  display: grid;
  grid-template-rows: 30% 70%;
}

.header-1, .header-2, .header-3 {
  padding-top: 10%;
}

.body-1, .body-2, .body-3 {
  padding-left: 3%;
  padding-right: 3%;
  font-size: 15px;
  padding-bottom: 10%;
}

.experience {
  font-size: 17px;
  color: #f9fbfd;
  display: grid;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 500px;
  background:linear-gradient(0deg, rgba(73, 73, 73, 0.8), rgba(73, 73, 73, 0.8)), url(pexels-cameron-casey-1722183.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-color: #eee2dc;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.info li{
  list-style:none;
}

.info ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info ul li {
  padding: 10px;
}

#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222222;
}

#loading-img {
  position: absolute;
  left: 45%;
  top: 35%;
}

#myProgress {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 100px;
  border-radius: 25px 25px;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 5px;
  border-radius: 25px 25px;
  background-color: #ac3b61;
}

/*
#loader {
  position: absolute;
  border: 8px solid #222222;
  border-top: 8px solid #f3f3f3;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

@media screen {
  @media (max-width: 567px) {
    #loading-img {
      position: absolute;
      left: 35%;
      top: 35%;
    }
    #myProgress {
      position: absolute;
      left: 35%;
      top: 50%;
      width: 100px;
      border-radius: 25px 25px;
      background-color: #ddd;
    }
    .nav-bar {
      height: 70px;
    }
    .nav-left{
      /*display: none;*/
      padding-top: 20px;
      float:left;
    }
    .nav-left img {
      height: 40px
    }
    .nav-right {
      float:right;
    }
    .nav-right li{
      padding: 10px 15px;
      list-style:none;
      font-size:13px;
      color:white;
      width: 10%;
    }
    .nav-right ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      font-family: Verdana, sans-serif;
    }
    body {
      width: 100%;
    }
    .introduction {
      font-size: 18px;
      letter-spacing: 0.3em;
      padding-left: 5%;
      padding-right: 5%;
    }
    .introduction img {
      width: 90%;
    }
    .about {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 12px;
    }
    .skills {
      padding-top: 3%;
      padding-bottom: 5%;
      font-size: 12px;
    }
    .skills img {
      width: 30%;
    }
    .box-1, .box-2, .box-3 {
      grid-template-rows: 20% 80%;
    }
    .body-1, .body-2, .body-3 {
      padding-top: 5%;
      font-size: 12px;
    }
    .experience {
      font-size: 12px;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  /*
  @media (min-width: 768px) {
    body {
      width: 100px;
    }
  }
  @media (min-width: 1024px) {
    body {
      width: 100%
    }
  }
  */
}