html {
  padding: 0px;
}
body {
  margin: 0px;
}
.header{
  border-radius: 5px;
  background-color:#444444;
}


.header, .header-left, .header-right {
  height: 40px;
}

.header-left{
  float:left;
  padding: 0px 30px;
  color:white;
  font-size:20px;
  font-family: "Phosphate",Phosphate,;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  float:right;
}

.header-right li{
  padding:12px 20px;
  list-style:none;
  font-size:15px;
  color:white;
}

.header-right ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.main{
  /* float:right; */
  height:620px;
  text-align : center;
  font-size:25px;

}

.contents{
  height:500px;
}

.contents img {
  width: 100%;
  max-width: 510px; /* 最大幅 */
}

.footer{
  clear:both;
  float:none;
  text-align : right;
}

a {text-decoration:none}
a {color: white}
a:hover { color: #D8D8D8; }

@media screen and (max-width: 600px) {
  .header-left,.header-right {
    float: none;
  }
  .header {
    height: 80px;
  }
 }
