.post_show a {
    text-decoration: underline;
  }

.case_list {
    list-style: none;
    padding: 0;
}

.case_list li{
    margin-bottom: 2rem;
}

.case_list p span {
    text-decoration: underline;
}

.case_list span:hover {
    color: rgb(249, 38, 114);
}