.contact {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.section {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.line {
  height: 5px;
  background-color: white;
  width: 30%;
  margin-bottom: 30px;
}
  
.fa {
  padding: 10px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
  
.info li{
  list-style:none;
}
  
.info ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}
  
.info ul li {
  padding: 10px;
}

.info ul li a svg:hover {
  color: rgb(249, 38, 114);
}

.info img {
  width: 35px;
}

.ml {
  color: #ff6700;
  font-weight: bold;
}

.MuiButton-contained {
  background-color: rgb(249, 38, 114) !important;
}

.MuiButton-contained:hover {
  background-color: rgb(253, 103, 158) !important;
}

@media (max-width:700px) {
  .contact {
    padding-bottom: 100px;
  }

  .section {
    padding-left: 5%;
    padding-right: 5%;
  }
}