.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    grid-gap: 5%;
}

.projects-container .projects-grid .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience {
  font-size: 17px;
  /*color: #f9fbfd;*/
  display: grid;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 500px;
  /*background:linear-gradient(0deg, rgba(73, 73, 73, 0.8), rgba(73, 73, 73, 0.8)), url("/src/assets/img/pexels-cameron-casey-1722183.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.content-0 img {
  width: 70%;
}

.content-1 img {
  width: 80%;
}

.content-2 img {
  width: 80%;
}

#content-3-img {
  width: 90%;
}

.experience ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.content-1 li {
    display: inline-block;
    padding: 5px 0px;
    width: 5.5%;
}

.content-2 li {
  display: inline-block;
  padding: 5px 0px;
  width: 10%;
}

#project a {
  color: #ac3b61;
  font-weight: bold;
}

#project a:hover {
  color: #b1667f;
}

.tiles {
  font-size: 0;
  text-align: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
.tiles .tile {
  display: inline-block;
  margin: 20px;
  text-align: left;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  width: 20%;
}
.tiles .tile:before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}
.tiles .tile img {
  display: block;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}
.tiles .tile:focus:before, .tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span, .tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title, .tiles .tile:hover .title {
  transition-delay: 0.15s;
}
.tiles .tile:focus .info, .tiles .tile:hover .info {
  transition-delay: 0.25s;
}