.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    grid-gap: 100px;
}

.projects-container .projects-grid .project {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    text-align: left;
}

.zoom {
  border-radius: 5px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05);
}

.experience {
  font-size: 17px;
  /*color: #f9fbfd;*/
  display: grid;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 500px;
  /*background:linear-gradient(0deg, rgba(73, 73, 73, 0.8), rgba(73, 73, 73, 0.8)), url("/src/assets/img/pexels-cameron-casey-1722183.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.content-0 img {
  width: 70%;
}

.content-1 img {
  width: 80%;
}

.content-2 img {
  width: 80%;
}

#content-3-img {
  width: 90%;
}

.experience ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.content-1 li {
    display: inline-block;
    padding: 5px 0px;
    width: 5.5%;
}

.content-2 li {
  display: inline-block;
  padding: 5px 0px;
  width: 10%;
}

#project a {
  color: #ac3b61;
  font-weight: bold;
}

#project a:hover {
  color: #b1667f;
}