.contact {
    background-color: #eee2dc;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
.fa {
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .info li{
    list-style:none;
  }
  
  .info ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info ul li {
    padding: 10px;
  }

  .info img {
      width: 35px;
  }