@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

p, a, h1, h2, h3, h4, h5 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
}

.nav-bar {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
}

.nav-bar ul {
  display: flex;
  letter-spacing: 0.3em;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  height: inherit;
  justify-content: center;
}

.nav-bar li {
  list-style-type: none;
  list-style: none;
  margin: 0 1rem;
  padding: 12px 20px;
  letter-spacing: 0.3em;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}

.nav-bar li a {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  width: 100%;
}

.nav-bar a {
  color: black;
  letter-spacing: 0.3em;
}

.nav-bar a:hover {
  color: rgba(0, 0, 0, 0.349);
}

.hamburger {
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  display: none;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_form {
  padding-left: 2rem;
  padding-right: 2rem;
}

.items_wrapper {
  text-align: left;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case_list {
  list-style: none;
  padding: 0;
}

.case_list li{
  margin-bottom: 2rem;
}

.case_list p span {
  text-decoration: underline;
}

.about img {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.post_show a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-bar ul {
    z-index: 1;
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
  }

  .nav-bar li {
    text-align: center;
    margin: 0;
  }

  .nav-bar li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .nav-bar li:hover {
    background-color: #eee;
  }

  .nav-bar.expanded ul {
    display: block;
  }
}

@media screen {
  @media (max-width: 600px) {
    .items_wrapper {
      padding-left: 10%;
      padding-right: 10%;
    }
    .nav-bar li {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 601px) {
    .items_wrapper {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}