body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.nav-bar ul {
  letter-spacing: 0.3em;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  height: inherit;
  font-family: Verdana, sans-serif;
  justify-content: center;
}

.nav-bar li {
  letter-spacing: 0.3em;
  padding: 12px 20px;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}

.nav-bar {
  width: 100%;
  margin-top: 30px;
}

.nav-bar a {
  color: black;
  letter-spacing: 0.3em;
}

.nav-bar a:hover {
  color: rgba(0, 0, 0, 0.349);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_form {
  padding-left: 2rem;
  padding-right: 2rem;
}

.items_wrapper {
  text-align: left;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case_list {
  list-style: none;
  padding: 0;
}

.case_list li{
  margin-bottom: 2rem;
}

.case_list p span {
  text-decoration: underline;
}

.about img {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.post_show a {
  text-decoration: underline;
}

.video {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen {
  @media (min-width: 600px) {
    .items_wrapper {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  @media (min-width: 1000px) {
    .items_wrapper {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  @media (max-width: 600px) {
    .nav-bar li {
      font-size: 0.8rem;
    }
  }
}